@charset "UTF-8";
/*15px*/
* { /* Se refiere a todos los elementos del html*/
  box-sizing: border-box; /*incluir padding y border en el cálculo del tamaño total del elemento.*/
  padding: 0;
  margin: 0;
}

html { /*se refiere al elemento raíz <html>*/
  font-size: 62.5%; /*1rem equivalente a 10 píxeles (px)*/
  background-color: #FFEFE7;
  font-family: "IBM Plex Sans", sans-serif;
}

/*header*/
header {
  width: 100%;
  height: auto;
}
header .header__navbar {
  width: 100%;
  height: 100px;
  /*direction es un argumento opcional*/
  display: flex;
  flex-direction: row;
  justify-content: space-between; /*Alinea los elementos horizontalmente*/
  align-items: center; /*Alinea los elementos verticalmente*/
  /*llamado de un mixin*/
  color: #7C6A0A;
  padding: 15px;
}
header p {
  font-size: 2.6rem; /*26 px*/
  padding-left: 30px;
}
header .header__navbar__icons {
  display: flex;
  gap: 15px;
  /*Llamado al mixin*/
}
header .header__navbar__icons button {
  background: none;
  border-style: none;
}

/*Main primera sección*/
.main-section__impact {
  width: 100%;
  color: #7C6A0A;
  padding: 0 45px;
  /*direction es un argumento opcional*/
  display: flex;
  flex-direction: row;
  justify-content: space-between; /*Alinea los elementos horizontalmente*/
  align-items: start; /*Alinea los elementos verticalmente*/
  /*llamado de un mixin*/
  padding-top: 50px;
}
.main-section__impact .main-section__impact__info--section {
  /*direction es un argumento opcional*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /*Alinea los elementos horizontalmente*/
  align-items: start; /*Alinea los elementos verticalmente*/
  /*llamado de un mixin*/
  gap: 40px;
  /*Llamado al mixin*/
}
.main-section__impact .main-section__impact__info--section h1 {
  font-size: 3rem; /*30px*/
}
.main-section__impact .main-section__impact__info--section .main-section__impact__info--section__paragraph {
  font-size: 1.5rem; /*15px*/
}
.main-section__impact .main-section__impact__info--section button {
  background: none;
  border-style: none;
}
.main-section__impact .main-section__impact__info--section .main-section__impact__info--section__button {
  width: 14vw;
  height: 3vw;
  padding: 10px;
  background-color: #FA9500;
  border-radius: 35px;
  color: white;
}
.main-section__impact img {
  width: 25vw;
  border-radius: 14px;
}

/*Main segunda sección*/
.main-section__product {
  width: 100%;
  height: auto;
  padding: 60px;
}
.main-section__product .main-section__product__healthcare, .main-section__product .main-section__product__furniture {
  padding-bottom: 40px;
}
.main-section__product .main-section__product__healthcare h2, .main-section__product .main-section__product__furniture h2 {
  color: #7C6A0A;
  font-size: 2.2rem;
  font-weight: 500;
  padding-bottom: 40px;
}
.main-section__product .main-section__product__healthcare .main-section__product__healthcare__card-section, .main-section__product .main-section__product__furniture .main-section__product__healthcare__card-section {
  /*direction es un argumento opcional*/
  display: flex;
  flex-direction: row;
  justify-content: center; /*Alinea los elementos horizontalmente*/
  align-items: center; /*Alinea los elementos verticalmente*/
  flex-wrap: wrap; /*los elementos se envuelvan a la siguiente línea si no hay suficiente espacio disponible*/
  width: auto;
  height: auto;
  -moz-column-gap: 200px;
       column-gap: 200px;
  row-gap: 80px;
}
.main-section__product .main-section__product__healthcare .main-section__product__healthcare__card-section__product-card, .main-section__product .main-section__product__furniture .main-section__product__healthcare__card-section__product-card {
  width: 18vw;
  min-width: 210px;
  height: 370px;
  background-color: #FFDAC6;
  color: #7C6A0A;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
.main-section__product .main-section__product__healthcare .main-section__product__healthcare__card-section__product-card .main-section__product__healthcare__card-section__product-card__svg, .main-section__product .main-section__product__furniture .main-section__product__healthcare__card-section__product-card .main-section__product__healthcare__card-section__product-card__svg {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}
.main-section__product .main-section__product__healthcare .main-section__product__healthcare__card-section__product-card .main-section__product__healthcare__card-section__product-card__svg svg, .main-section__product .main-section__product__furniture .main-section__product__healthcare__card-section__product-card .main-section__product__healthcare__card-section__product-card__svg svg {
  width: 20px;
  height: 20px;
}
.main-section__product .main-section__product__healthcare .main-section__product__healthcare__card-section__product-card .main-section__product__healthcare__card-section__product-card__svg svg:hover, .main-section__product .main-section__product__furniture .main-section__product__healthcare__card-section__product-card .main-section__product__healthcare__card-section__product-card__svg svg:hover {
  cursor: pointer;
}
.main-section__product .main-section__product__healthcare .main-section__product__healthcare__card-section__product-card .main-section__product__healthcare__card-section__product-card__img, .main-section__product .main-section__product__furniture .main-section__product__healthcare__card-section__product-card .main-section__product__healthcare__card-section__product-card__img {
  width: 100%;
  height: auto;
  background-size: cover; /*la imagen se escala automáticamente para que cubra completamente el área del elemento*/
  background-position: center; /*Al aumentar el viewport la imagen siempre se mantendrá en el centro*/
  background-repeat: no-repeat;
  display: flex;
  justify-content: center; /*alinea a traves del eje x (principal)*/
  align-items: center; /*alinea a traves del eje y*/
}
.main-section__product .main-section__product__healthcare .main-section__product__healthcare__card-section__product-card .main-section__product__healthcare__card-section__product-card__img img, .main-section__product .main-section__product__furniture .main-section__product__healthcare__card-section__product-card .main-section__product__healthcare__card-section__product-card__img img {
  width: 90%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover; /*imagen cubre completamente el contenedor, manteniendo sus proporciones*/
  border-radius: 6px;
}
.main-section__product .main-section__product__healthcare .main-section__product__healthcare__card-section__product-card h3, .main-section__product .main-section__product__furniture .main-section__product__healthcare__card-section__product-card h3 {
  font-size: 1.5rem;
  padding: 10px;
}
.main-section__product .main-section__product__healthcare .main-section__product__healthcare__card-section__product-card p, .main-section__product .main-section__product__furniture .main-section__product__healthcare__card-section__product-card p {
  font-size: 1.3rem;
  padding: 0 10px;
}
.main-section__product .main-section__product__furniture .main-section__product__healthcare__card-section__product-card {
  background-color: #BABD8D;
  color: white;
}

footer {
  background-color: #FA9500;
  width: 100%;
  height: 250px;
}/*# sourceMappingURL=main.css.map */