@charset "UTF-8";
/*15px*/
* { /* Se refiere a todos los elementos del html*/
  box-sizing: border-box; /*incluir padding y border en el cálculo del tamaño total del elemento.*/
  padding: 0;
  margin: 0;
}

html { /*se refiere al elemento raíz <html>*/
  font-size: 62.5%; /*1rem equivalente a 10 píxeles (px)*/
  background-color: #FFEFE7;
  font-family: "IBM Plex Sans", sans-serif;
}

.header {
  width: 100%;
  height: auto;
}
.header__navbar {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /*Alinea los elementos horizontalmente*/
  align-items: center; /*Alinea los elementos verticalmente*/
  /*llamado de un mixin*/
  color: #7C6A0A;
  padding: 15px;
}
.header__navbar .header__title {
  font-size: 2.6rem; /*26 px*/
  padding-left: 30px;
}
.header__navbar .navbar__buttons {
  display: flex;
  gap: 15px;
  /*Llamado al mixin*/
}
.header__navbar .navbar__buttons button {
  background: none;
  border-style: none;
}
.header__navbar .navbar__buttons .button--phone {
  display: none; /* Oculta el SVG móvil por defecto */
}

/*Main primera sección*/
.main__impact {
  width: 100%;
  color: #7C6A0A;
  padding: 0 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /*Alinea los elementos horizontalmente*/
  align-items: start; /*Alinea los elementos verticalmente*/
  /*llamado de un mixin*/
  padding-top: 50px;
}
.main__impact .impact__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /*Alinea los elementos horizontalmente*/
  align-items: start; /*Alinea los elementos verticalmente*/
  /*llamado de un mixin*/
  gap: 40px;
  /*Llamado al mixin*/
}
.main__impact .impact__info .main__title {
  font-size: 3rem; /*30px*/
}
.main__impact .impact__info .main__paragraph {
  font-size: 1.5rem; /*15px*/
}
.main__impact .impact__info button {
  background: none;
  border-style: none;
}
.main__impact .impact__info .impact__button {
  width: 150px;
  height: 50px;
  padding: 10px;
  background-color: #FA9500;
  border-radius: 35px;
  color: white;
}
.main__impact .impact__info .impact__button:hover {
  transform: scale(1.1);
}
.main__impact .main__containerImg .main__image {
  width: 25vw;
  border-radius: 14px;
}

/*Main segunda sección*/
.main__product {
  width: 100%;
  height: auto;
  padding: 60px;
}
.main__product .product__healthcare, .main__product .product__furniture {
  padding-bottom: 40px;
}
.main__product .product__healthcare .product__title, .main__product .product__furniture .product__title {
  color: #7C6A0A;
  font-size: 2.2rem;
  font-weight: 500;
  padding-bottom: 40px;
}
.main__product .product__healthcare .product__cards, .main__product .product__furniture .product__cards {
  display: flex;
  flex-direction: row;
  justify-content: center; /*Alinea los elementos horizontalmente*/
  align-items: center; /*Alinea los elementos verticalmente*/
  flex-wrap: wrap; /*los elementos se envuelvan a la siguiente línea si no hay suficiente espacio disponible*/
  width: auto;
  height: auto;
  -moz-column-gap: 200px;
       column-gap: 200px;
  row-gap: 80px;
}
.main__product .product__healthcare .card, .main__product .product__furniture .card {
  width: 18vw;
  min-width: 210px;
  height: 370px;
  background-color: #FFDAC6;
  color: #7C6A0A;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
.main__product .product__healthcare .card .card__containerIcon, .main__product .product__furniture .card .card__containerIcon {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}
.main__product .product__healthcare .card .card__containerIcon .card__icon, .main__product .product__furniture .card .card__containerIcon .card__icon {
  width: 20px;
  height: 20px;
}
.main__product .product__healthcare .card .card__containerIcon .card__icon__hover, .main__product .product__furniture .card .card__containerIcon .card__icon__hover {
  cursor: pointer;
}
.main__product .product__healthcare .card .card__containerImg, .main__product .product__furniture .card .card__containerImg {
  width: 100%;
  height: auto;
  background-size: cover; /*la imagen se escala automáticamente para que cubra completamente el área del elemento*/
  background-position: center; /*Al aumentar el viewport la imagen siempre se mantendrá en el centro*/
  background-repeat: no-repeat;
  display: flex;
  justify-content: center; /*alinea a traves del eje x (principal)*/
  align-items: center; /*alinea a traves del eje y*/
}
.main__product .product__healthcare .card .card__containerImg .card__img, .main__product .product__furniture .card .card__containerImg .card__img {
  width: 90%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover; /*imagen cubre completamente el contenedor, manteniendo sus proporciones*/
  border-radius: 6px;
}
.main__product .product__healthcare .card .card__title, .main__product .product__furniture .card .card__title {
  font-size: 1.5rem;
  padding: 10px;
}
.main__product .product__healthcare .card .card__info, .main__product .product__furniture .card .card__info {
  font-size: 1.3rem;
  padding: 0 10px;
}
.main__product .product__furniture .card {
  background-color: #BABD8D;
  color: white;
}

/*Main tercera sección*/
.main__productInfo {
  padding: 0px 60px;
}
.main__productInfo .productInfo__aboutUs .aboutUs__title {
  color: #7C6A0A;
  font-size: 2.2rem;
  font-weight: bold;
  padding-bottom: 40px;
}
.main__productInfo .productInfo__aboutUs .aboutUs__mission {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; /*Alinea los elementos horizontalmente*/
  align-items: center; /*Alinea los elementos verticalmente*/
  /*llamado del mixin*/
}
.main__productInfo .productInfo__aboutUs .aboutUs__mission .aboutUs__earth, .main__productInfo .productInfo__aboutUs .aboutUs__mission .aboutUs__innovation {
  /*Variable local*/
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; /*Alinea los elementos horizontalmente*/
  align-items: center; /*Alinea los elementos verticalmente*/
  /*llamado del mixin*/
  gap: 10px;
  color: #E86424;
}
.main__productInfo .productInfo__aboutUs .aboutUs__mission .aboutUs__earth .aboutUs__img, .main__productInfo .productInfo__aboutUs .aboutUs__mission .aboutUs__innovation .aboutUs__img {
  width: 120px;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain; /*ajusta el contenido para que quepa completamente dentro del contenedor manteniendo la proporción original*/
}
.main__productInfo .productInfo__aboutUs .aboutUs__mission .aboutUs__earth .aboutUs__paragraph, .main__productInfo .productInfo__aboutUs .aboutUs__mission .aboutUs__innovation .aboutUs__paragraph {
  text-align: center; /*Alinea el texto horizontalmente*/
  align-items: center; /* Alineación vertical centrada */
  font-size: 1.5rem;
  font-weight: 500;
}
.main__productInfo .productInfo__gallery {
  padding: 90px 0;
}
.main__productInfo .productInfo__gallery .gallery__title {
  color: #7C6A0A;
  font-size: 2.2rem;
  font-weight: bold;
  padding-bottom: 40px;
}
.main__productInfo .productInfo__gallery .gallery__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /*Alinea los elementos horizontalmente*/
  align-items: center; /*Alinea los elementos verticalmente*/
  /*llamado del mixin*/
  padding-bottom: 80px;
}
.main__productInfo .productInfo__gallery .gallery__container .container__image {
  width: 25vw;
  height: 50vh;
}
.main__productInfo .productInfo__gallery .gallery__container .container__image .gallery__img__one, .main__productInfo .productInfo__gallery .gallery__container .container__image .gallery__img__three, .main__productInfo .productInfo__gallery .gallery__container .container__image .gallery__img__two {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 30%;
     object-position: center 30%;
  border-radius: 16px;
}
.main__productInfo .productInfo__gallery .gallery__container .container__image .gallery__img__one:hover, .main__productInfo .productInfo__gallery .gallery__container .container__image .gallery__img__three:hover, .main__productInfo .productInfo__gallery .gallery__container .container__image .gallery__img__two:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}
.main__productInfo .productInfo__gallery .gallery__container .container__image .gallery__img__two {
  -o-object-position: center 70%;
     object-position: center 70%;
}
.main__productInfo .productInfo__gallery .gallery__container .container__image .gallery__img__three {
  -o-object-position: center 70%;
     object-position: center 70%;
}
.main__productInfo .productInfo__location {
  /*Variable local*/
  color: #E86424;
}
.main__productInfo .productInfo__location .location__map {
  display: flex;
  flex-direction: row;
  justify-content: center; /*Alinea los elementos horizontalmente*/
  align-items: center; /*Alinea los elementos verticalmente*/
  padding-bottom: 40px;
  width: 100%;
  height: auto;
}
.main__productInfo .productInfo__location .location__map .map__img {
  width: 95%;
  height: 95%;
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
}
.main__productInfo .productInfo__location .location__info {
  padding-left: 60px;
  padding-bottom: 10px;
  font-size: 2rem;
  font-weight: 500;
}
.main__productInfo .productInfo__location .location__paragraph {
  padding-left: 60px;
  font-size: 1.5rem;
}

.footer {
  background-color: #FA9500;
  width: 100%;
  height: auto;
  padding: 30px 40px;
  color: white;
}
.footer__title {
  padding: 10px;
  font-size: 2rem;
}
.footer__paragraph {
  padding: 10px;
  font-size: 1.2rem;
}
.footer__socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: center; /*Alinea los elementos horizontalmente*/
  align-items: center; /*Alinea los elementos verticalmente*/
  gap: 30px;
}
.footer__socialMedia .socialMedia__img {
  width: 35px;
  height: 35px;
}/*# sourceMappingURL=main.css.map */