@charset "UTF-8";
/*15px*/
.header {
  min-width: 320px; /*320px es la dimensión más pequeñas de los celulares*/
}
.header__title {
  font-size: 3rem; /*26 px*/
  padding-left: 0px;
}
.header .navbar__buttons .button {
  display: none; /* Oculta todos los SVGs*/
}
.header .navbar__buttons .button--phone {
  display: inline-block;
}

/*Main primera sección*/
.main__impact {
  min-width: 320px; /*320px es la dimensión más pequeñas de los celulares*/
  display: flex;
  flex-direction: column;
  justify-content: space-between; /*Alinea los elementos horizontalmente*/
  align-items: center; /*Alinea los elementos verticalmente*/
  /*llamado de un mixin*/
  padding-top: 0px;
  padding-bottom: 50px;
}
.main__impact .main__containerImg {
  display: flex;
  flex-direction: row;
  justify-content: center; /*Alinea los elementos horizontalmente*/
  align-items: center; /*Alinea los elementos verticalmente*/
  /*llamado de un mixin*/
  width: 100%;
  height: auto;
  order: 1;
  padding-bottom: 20px;
}
.main__impact .main__containerImg .main__image {
  min-width: 280px;
}
.main__impact .impact__info {
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /*Alinea los elementos horizontalmente*/
  align-items: center; /*Alinea los elementos verticalmente*/
  /*llamado de un mixin*/
}
.main__impact .impact__info .main__title {
  font-size: 2.6rem; /*30px*/
}

/*Main segunda sección*/
.main__product {
  padding: 20px 20px;
}
.main__product .product__healthcare .product__cards, .main__product .product__furniture .product__cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /*Alinea los elementos horizontalmente*/
  align-items: start; /*Alinea los elementos verticalmente*/
  /*Para que el contenido quepa*/
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  scroll-snap-align: center;
  flex-wrap: nowrap; /* Los elementos no se envuelven y se muestran en una sola línea horizontal */
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.main__product .product__healthcare .product__cards .card, .main__product .product__furniture .product__cards .card {
  scroll-snap-align: center;
}
.main__product .product__furniture .card {
  background-color: #BABD8D;
  color: white;
}

/*Main tercera sección*/
.main__productInfo {
  padding: 0 20px;
}
.main__productInfo .productInfo__aboutUs .aboutUs__mission {
  display: flex;
  flex-direction: column;
  justify-content: center; /*Alinea los elementos horizontalmente*/
  align-items: center; /*Alinea los elementos verticalmente*/
}
.main__productInfo .productInfo__aboutUs .aboutUs__mission .aboutUs__earth, .main__productInfo .productInfo__aboutUs .aboutUs__mission .aboutUs__innovation {
  display: flex;
  flex-direction: column;
  justify-content: center; /*Alinea los elementos horizontalmente*/
  align-items: center; /*Alinea los elementos verticalmente*/
  /*Para que el contenido quepa*/
  padding-bottom: 30px;
}
.main__productInfo .productInfo__aboutUs .aboutUs__mission .aboutUs__earth .aboutUs__paragraph, .main__productInfo .productInfo__aboutUs .aboutUs__mission .aboutUs__innovation .aboutUs__paragraph {
  width: 200px;
}
.main__productInfo .productInfo__gallery {
  padding-top: 20px;
}
.main__productInfo .productInfo__gallery .gallery__container {
  display: flex;
  flex-direction: column;
  justify-content: center; /*Alinea los elementos horizontalmente*/
  align-items: center; /*Alinea los elementos verticalmente*/
  gap: 40px;
}
.main__productInfo .productInfo__gallery .gallery__container .container__image {
  width: 80%;
}
.main__productInfo .productInfo__location .location__map {
  height: 350px;
}
.main__productInfo .productInfo__location .location__map .map__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__productInfo .productInfo__location .location__info {
  padding-left: 0px;
  padding-bottom: 10px;
  font-size: 1.8rem;
  font-weight: 500;
}
.main__productInfo .productInfo__location .location__paragraph {
  padding-left: 0px;
  font-size: 1.2rem;
}

.footer .footer__socialMedia {
  padding-top: 60px;
}/*# sourceMappingURL=mobile.css.map */