$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$primary-text-color: #7C6A0A;
$quaternary-color: #FA9500; 

$font-stack: "IBM Plex Sans", sans-serif;
$paragraph-size: 1.5rem;  /*15px*/

@mixin flexCenter($direction, $content, $align){ /*direction es un argumento opcional*/
    display: flex;
    flex-direction: $direction;
    justify-content: $content;  /*Alinea los elementos horizontalmente*/
    align-items: $align;        /*Alinea los elementos verticalmente*/
}

@mixin buttonStyle{
    button{
        background: none;
        border-style: none;
    }
}

* { /* Se refiere a todos los elementos del html*/
    box-sizing: border-box; /*incluir padding y border en el cálculo del tamaño total del elemento.*/
    padding: 0;
    margin: 0;
}

html { /*se refiere al elemento raíz <html>*/
    font-size: 62.5%;  /*1rem equivalente a 10 píxeles (px)*/
    background-color: $primary-color;
    font-family: $font-stack;
}

/*header*/

header{
    width: 100%;
    height: auto;

    .header__navbar{
        width: 100%;
        height: 100px;
        @include flexCenter(row, space-between, center);  /*llamado de un mixin*/
        color: $primary-text-color;
        padding: 15px;
    }

    p{
        font-size: 2.6rem; /*26 px*/
        padding-left: 30px;
    }

    .header__navbar__icons{
        display: flex;
        gap: 15px;

        @include buttonStyle();         /*Llamado al mixin*/

    }  
}

/*Main primera sección*/
.main-section__impact{
    width: 100%;
    color: $primary-text-color;
    padding: 0 45px;
    @include flexCenter(row, space-between, start);  /*llamado de un mixin*/
    padding-top: 50px;
    
    .main-section__impact__info--section{
        @include flexCenter(column, space-evenly, start);  /*llamado de un mixin*/
        gap: 40px;

        h1{
            font-size: 3rem; /*30px*/
        }
    
        .main-section__impact__info--section__paragraph{
            font-size: $paragraph-size; /*15px*/
        }
    
        @include buttonStyle();         /*Llamado al mixin*/ 
        .main-section__impact__info--section__button{
            width: 14vw;
            height: 3vw;
            padding: 10px;
            background-color: $quaternary-color;
            border-radius: 35px;
            color: white;
            &:hover{
                transform: scale(1.1);
            }
        }
        
    }

    img{
        width: 25vw;
        border-radius: 14px;
    }
    
}


/*Main segunda sección*/
.main-section__product{
    width: 100%;
    height: auto;
    padding: 60px;

    .main-section__product__healthcare{
        padding-bottom: 40px;
    
        h2{
            color: $primary-text-color;
            font-size: 2.2rem;
            font-weight: 500;
            padding-bottom: 40px;
        }
    
        .main-section__product__healthcare__card-section{
            @include flexCenter(row, center, center);
            flex-wrap: wrap; /*los elementos se envuelvan a la siguiente línea si no hay suficiente espacio disponible*/
            width: auto;
            height: auto;
            column-gap: 200px;
            row-gap: 80px;
        }

        .main-section__product__healthcare__card-section__product-card{
            width: 18vw;
            min-width: 210px;
            height: 370px;
            background-color: $secondary-color;
            color: $primary-text-color;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);

            .main-section__product__healthcare__card-section__product-card__svg{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: flex-end;
                padding-bottom: 10px;

                svg{
                    width: 20px;
                    height: 20px;
                }

                svg:hover{
                    cursor: pointer;
                }
            }
    
            .main-section__product__healthcare__card-section__product-card__img{
                width: 100%;
                height: auto;
                background-size: cover; /*la imagen se escala automáticamente para que cubra completamente el área del elemento*/
                background-position: center; /*Al aumentar el viewport la imagen siempre se mantendrá en el centro*/
                background-repeat: no-repeat;
                display: flex;
                justify-content: center; /*alinea a traves del eje x (principal)*/
                align-items: center; /*alinea a traves del eje y*/
                
                img{
                    // display: block; /*Para poder centrar con margin 0 y auto (una forma)*/
                    // margin: 0 auto;
                    width: 90%;
                    height: 200px;
                    object-fit: cover; /*imagen cubre completamente el contenedor, manteniendo sus proporciones*/
                    border-radius: 6px;
                }
            }
            
            h3{
                font-size: 1.5rem;
                padding: 10px;
            }

            p{
                font-size: 1.3rem;
                padding: 0 10px;
            }

        }
    }

    .main-section__product__furniture{
        @extend .main-section__product__healthcare;
        .main-section__product__healthcare__card-section__product-card{
            background-color: $tertiary-color;
            color: white;
        }
    }

}


/*Main tercera sección*/
.main-section__product__info{
    padding: 0px 60px;
    .main-section__product__info__about-us{
        // @extend .main-section__product__healthcare; /*No funcionó jajaja*/
        h2{
            color: $primary-text-color;
            font-size: 2.2rem;
            font-weight: bold;
            padding-bottom: 40px;
        }
        .main-section__product__info__about-us__mission-section{
            @include flexCenter(row, space-evenly, center);      /*llamado del mixin*/
            .main-section__product__info__about-us__earth{
                width: 30vw;
                @include flexCenter(row, space-evenly, center);      /*llamado del mixin*/
                gap: 10px;
                color: #E86424;

                img{
                    width: 120px;
                    height: 120px;
                    object-fit: contain; /*ajusta el contenido para que quepa completamente dentro del contenedor manteniendo la proporción original*/
                }

                p{
                    text-align: center;     /*Alinea el texto horizontalmente*/
                    align-items: center; /* Alineación vertical centrada */
                    font-size: $paragraph-size;
                    font-weight: 500;
                }

            }
            .main-section__product__info__about-us__innovation{
                @extend .main-section__product__info__about-us__earth;
            }
        }
    }
    .main-section__product__info__gallery{
        padding: 90px 0;

        h2{
            color: $primary-text-color;
            font-size: 2.2rem;
            font-weight: bold;
            padding-bottom: 40px;
        }

        .main-section__product__info__gallery__gallery-images{
            @include flexCenter(row, space-between, center);    /*llamado del mixin*/
            padding-bottom: 80px;
            .main-section__product__info__gallery__gallery-images__imagen{
                width: 25vw;
                height: 50vh;
                .gallery-images__imagen-1{
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    object-fit: cover; 
                    object-position: center 30%;
                    border-radius: 16px;
                    &:hover{
                        transform: scale(1.1);
                    }
                }

                .gallery-images__imagen-2{
                    @extend .gallery-images__imagen-1;
                    object-position: center 70%;
                }

                .gallery-images__imagen-3{
                    @extend .gallery-images__imagen-1;
                    object-position: center 70%;
                }
            }
        }
    }
}

footer{
    background-color: $quaternary-color;
    width: 100%;
    height: 250px;
}