@import 'variables';

* { /* Se refiere a todos los elementos del html*/
    box-sizing: border-box; /*incluir padding y border en el cálculo del tamaño total del elemento.*/
    padding: 0;
    margin: 0;
}

html { /*se refiere al elemento raíz <html>*/
    font-size: 62.5%;  /*1rem equivalente a 10 píxeles (px)*/
    background-color: $primary-color;
    font-family: $font-stack;
}

.header{
    width: 100%;
    height: auto;

    &__navbar{
        width: 100%;
        height: 100px;
        @include flexCenter(row, space-between, center);  /*llamado de un mixin*/
        color: $primary-text-color;
        padding: 15px;

        .header__title{
            font-size: 2.6rem; /*26 px*/
            padding-left: 30px;
        }

        .navbar__buttons{
            display: flex;
            gap: 15px;
    
            @include buttonStyle();         /*Llamado al mixin*/

            .button--phone{
                display: none; /* Oculta el SVG móvil por defecto */
            }
        }
    }
}

/*Main primera sección*/
.main{
    &__impact{
        width: 100%;
        color: $primary-text-color;
        padding: 0 45px;
        @include flexCenter(row, space-between, start);  /*llamado de un mixin*/
        padding-top: 50px;

        .impact__info{
            @include flexCenter(column, space-evenly, start);  /*llamado de un mixin*/
            gap: 40px;

            .main__title{
                font-size: 3rem; /*30px*/
            }

            .main__paragraph{
                font-size: $paragraph-size; /*15px*/
            }
            @include buttonStyle();         /*Llamado al mixin*/ 
            .impact__button{
                width: 150px;
                height: 50px;
                padding: 10px;
                background-color: $quaternary-color;
                border-radius: 35px;
                color: white;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        .main__containerImg{
            .main__image{
                width: 25vw;
                border-radius: 14px;
            }
        }
    }
}


/*Main segunda sección*/
.main{
    &__product{
        width: 100%;
        height: auto;
        padding: 60px;

        .product__healthcare{
            padding-bottom: 40px;
        
            .product__title{
                color: $primary-text-color;
                font-size: 2.2rem;
                font-weight: 500;
                padding-bottom: 40px;
            }
        
            .product__cards{
                @include flexCenter(row, center, center);
                flex-wrap: wrap; /*los elementos se envuelvan a la siguiente línea si no hay suficiente espacio disponible*/
                width: auto;
                height: auto;
                column-gap: 200px;
                row-gap: 80px;
            }

            .card{
                width: 18vw;
                min-width: 210px;
                height: 370px;
                background-color: $secondary-color;
                color: $primary-text-color;
                padding: 20px;
                border-radius: 8px;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);

                .card__containerIcon{
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: flex-end;
                    padding-bottom: 10px;

                    .card__icon{
                        width: 20px;
                        height: 20px;
                        &__hover{
                            cursor: pointer;
                        }
                    }

                    // svg:hover{
                    //     cursor: pointer;
                    // }
                }
        
                .card__containerImg{
                    width: 100%;
                    height: auto;
                    background-size: cover; /*la imagen se escala automáticamente para que cubra completamente el área del elemento*/
                    background-position: center; /*Al aumentar el viewport la imagen siempre se mantendrá en el centro*/
                    background-repeat: no-repeat;
                    display: flex;
                    justify-content: center; /*alinea a traves del eje x (principal)*/
                    align-items: center; /*alinea a traves del eje y*/
                    
                    .card__img{
                        // display: block; /*Para poder centrar con margin 0 y auto (una forma)*/
                        // margin: 0 auto;
                        width: 90%;
                        height: 200px;
                        object-fit: cover; /*imagen cubre completamente el contenedor, manteniendo sus proporciones*/
                        border-radius: 6px;
                    }
                }
                
                .card__title{
                    font-size: 1.5rem;
                    padding: 10px;
                }

                .card__info{
                    font-size: 1.3rem;
                    padding: 0 10px;
                }

            }
        }

        .product__furniture{
            @extend .product__healthcare;
            .card{
                background-color: $tertiary-color;
                color: white;
            }
        }
}}


/*Main tercera sección*/
.main{
&__productInfo{
    padding: 0px 60px;
    .productInfo__aboutUs{
        .aboutUs__title{
            color: $primary-text-color;
            font-size: 2.2rem;
            font-weight: bold;
            padding-bottom: 40px;
        }
        .aboutUs__mission{
            @include flexCenter(row, space-evenly, center);      /*llamado del mixin*/
            .aboutUs__earth{
                $text-color: #E86424; /*Variable local*/
                width: 30vw;
                @include flexCenter(row, space-evenly, center);      /*llamado del mixin*/
                gap: 10px;
                color: $text-color;

                .aboutUs__img{
                    width: 120px;
                    height: 120px;
                    object-fit: contain; /*ajusta el contenido para que quepa completamente dentro del contenedor manteniendo la proporción original*/
                }

                .aboutUs__paragraph{
                    text-align: center;     /*Alinea el texto horizontalmente*/
                    align-items: center; /* Alineación vertical centrada */
                    font-size: $paragraph-size;
                    font-weight: 500;
                }

            }
            .aboutUs__innovation{
                @extend .aboutUs__earth;
            }
        }
    }
    .productInfo__gallery{
        padding: 90px 0;

        .gallery__title{
            color: $primary-text-color;
            font-size: 2.2rem;
            font-weight: bold;
            padding-bottom: 40px;
        }

        .gallery__container{
            @include flexCenter(row, space-between, center);    /*llamado del mixin*/
            padding-bottom: 80px;
            .container__image{
                width: 25vw;
                height: 50vh;
                .gallery__img__one{
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    object-fit: cover; 
                    object-position: center 30%;
                    border-radius: 16px;
                    &:hover{
                        transform: scale(1.1);
                        transition-duration: 0.3s;
                    }
                }

                .gallery__img__two{
                    @extend .gallery__img__one;
                    object-position: center 70%;
                }

                .gallery__img__three{
                    @extend .gallery__img__one;
                    object-position: center 70%;
                }
            }
        }
    }
    .productInfo__location{
        $text-color: #E86424; /*Variable local*/
        color: $text-color;
        .location__map{
            @include flexCenter(row, center, center);
            padding-bottom: 40px;
            width: 100%;
            height: auto;
            .map__img{
                width: 95%;
                height: 95%;
                background-position: center;
                background-repeat: no-repeat;
                object-fit:contain; 
            }
        }
        .location__info{
            padding-left: 60px;
            padding-bottom: 10px;
            font-size: 2rem;
            font-weight: 500;
        }
        .location__paragraph{
            padding-left: 60px;
            font-size: $paragraph-size;
        }
    }
}}

.footer{
    background-color: $quaternary-color;
    width: 100%;
    height: auto;
    padding: 30px 40px;
    color: white;
    &__title{
        padding: 10px;
        font-size: 2rem;
    }
    &__paragraph{
        padding: 10px;
        font-size: 1.2rem;
    }
    &__socialMedia{
        @include flexCenter(row, center, center);
        gap: 30px;
        .socialMedia__img{
            width: 35px;
            height: 35px;
        }
    }
}