@import 'variables';

.header{
    min-width: 320px; /*320px es la dimensión más pequeñas de los celulares*/

    &__title{
        font-size: 3rem; /*26 px*/
        padding-left: 0px;
    }

    .navbar__buttons{
        .button{
            display: none; /* Oculta todos los SVGs*/
        }

        .button--phone{
            display: inline-block;
        }
    }
}

/*Main primera sección*/
.main{
    &__impact{
        min-width: 320px; /*320px es la dimensión más pequeñas de los celulares*/
        @include flexCenter(column, space-between, center);  /*llamado de un mixin*/
        padding-top: 0px;
        padding-bottom: 50px;

        .main__containerImg{
            @include flexCenter(row, center, center);  /*llamado de un mixin*/
            width: 100%;
            height: auto;
            order: 1;
            padding-bottom: 20px;
            .main__image{
            min-width: 280px;
            }
        }

        .impact__info{
            order: 2;
            @include flexCenter(column, space-evenly, center);  /*llamado de un mixin*/

            .main__title{
                font-size: 2.6rem; /*30px*/
            }

        }
}}

/*Main segunda sección*/
.main{
    &__product{
        padding: 20px 20px;
        .product__healthcare{
            .product__cards{
                @include flexCenter(row, flex-start, start); /*Para que el contenido quepa*/
                overflow-x: scroll;
                overscroll-behavior-x: contain;
                scroll-snap-type: x proximity;
                scroll-snap-align: center;
                flex-wrap: nowrap; /* Los elementos no se envuelven y se muestran en una sola línea horizontal */
                column-gap: 20px;

                .card{
                    scroll-snap-align: center;
                }
            }
        }

        .product__furniture{
            @extend .product__healthcare;
            .card{
                background-color: $tertiary-color;
                color: white;
            }
        }
}}

/*Main tercera sección*/
.main{
    &__productInfo{ 
        padding: 0 20px;
        .productInfo__aboutUs{
            .aboutUs__mission{
                @include flexCenter(column, center, center);
                .aboutUs__earth{
                    @include flexCenter(column, center, center); /*Para que el contenido quepa*/
                    padding-bottom: 30px;
                    
                    .aboutUs__paragraph{
                        width: 200px;
                    }
                }
                .aboutUs__innovation{
                    @extend .aboutUs__earth;
                }
            }
        }
        .productInfo__gallery{
            padding-top: 20px;
            
            .gallery__container{
                @include flexCenter(column, center, center);
                gap:40px;

                .container__image{
                    width: 80%;
                }
            }
        }

        .productInfo__location{
            .location__map{
                height: 350px;
                .map__img{
                    width: 100%;
                    height: 100%;
                    object-fit:cover;
                }
            }
            .location__info{
                padding-left: 0px;
                padding-bottom: 10px;
                font-size: 1.8rem;
                font-weight: 500;
            }
            .location__paragraph{
                padding-left: 0px;
                font-size: 1.2rem;
            }
        }
}}

.footer{
    .footer__socialMedia{
        padding-top: 60px;
    }
}
